/*

.carrusel {
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin: auto;
}

.carrusel-interno {
    display: flex;
    height: 100%;
    animation: slider 12s infinite;
}

.carrusel-interno img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slider {
    0%   { transform: translateX(0%); }
    33%  { transform: translateX(0%); }

    38%  { transform: translateX(-100%); }
    66%  { transform: translateX(-100%); }

    71%  { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

----------------

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}

.sidebar {
    background: #111;
    color: white;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 8px 0;
}

.sidebar a:hover {
    color: #ff4d4d;
}

*/